<div class="card">
  <div>
    <h3>Precisando de Ajuda?</h3>
    <p>Entre em contato clicando abaixo:</p>
  </div>
  <a href="/contato">
    Entre em Contato
  </a>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;

    padding: 2rem;
    gap: 1.5rem;

    text-align: center;
    background-color: var(--accent);
    color: var(--textolight);
  }

  .card h3 {
    font-weight: bold;
    font-size: 1.5em;
  }


  a{
    background-color: var(--textolight);
    padding: 0.8rem;
    border-radius: 1rem;
    font-style: bold;
    color: var(--textodark);

  }

  a:hover{
    background-color: lightgray;
    transform: scale(1.1);
  }

  @media only screen and (max-width: 768px) {
    .card {
      width: 100%;
      border-radius: unset;
      padding: 2rem 0;
    }

    .card > * {
      width: max-content;
    }
  }
</style>
