---
export interface Props {
  imagem: string;
  integrante: string;
  funcao: string;
}

const { imagem, integrante, funcao } = Astro.props;
---

<article>
  <picture>
    <img src={imagem} alt="integrante da equipe" />
  </picture>
  <p>
    {integrante}
    <span>{funcao}</span>
  </p>
  <div>
    <a href=""> <img src="/logos/google.svg"></a>
    <a href=""> <img src="/logos/github.svg"></a>
    <a href=""> <img src="/logos/github.svg"></a>
    <a href=""> <img src="/logos/google.svg"></a>
  </div>
</article>

<style>

 article {
  background: var(--secondary);
  width: 15rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid var(--primary);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  color: var(--primary);
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

article:hover {
  transform: translateY(-10px);
}

picture {
  overflow: hidden;
  object-fit: cover;
  width: 10rem;
  height: auto;
  border: 1px solid var(--primary);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}

picture img {
  width: 100%;
  fill: currentColor;
}

p {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

p span {
  display: block;
  font-weight: 500;
  font-size: 16px;
}

div:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: var(--primary);
}


div a {
  display: inline-block ;
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

div a:last-child {
  margin-right: 0;
}

div a img {
  width: 1.1rem;
  fill: currentColor;
}


</style>
