---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Opa!">

  <section>
    <article>
      <h1 class="tituloGradiente">Opaa!</h1>
      <p>Essa página não foi encontrada! Volte ao menu principal para navegar para uma existente!</p>
      <a href="/">Volte à página principal</a>
    </article>
    <aside>
      <img src="/illustrations/404.svg" alt="404">
    </aside>

  </section>


</Layout>


<style>
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }

  article {
    width: 50%;
    text-align: center;
  }

  article h1 {
    font-size: 10rem;
    margin: 0;
  }

  article p {
    font-size: 2rem;
    margin: 0;
  }

  article a {
    font-size: 2rem;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 1rem 2rem;
    border-radius: 5px;
    display: inline-block;
    margin-top: 2rem;
  }

  aside {
    width: 50%;
  }

  img {
    width: 80%;
  }
</style>

