---
import FormCadastro from "../components/FormCadastro.astro";
import LayoutFull from "../layouts/LayoutFull.astro";
---

<LayoutFull title="Cadastro">
  <div>
    <FormCadastro />
  </div>
</LayoutFull>

<style>
  div {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>


