---
import LayoutNav from '../layouts/LayoutNav.astro'
---

<style>
    .container {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
      .container {
        grid-template-columns: 1fr;
      }
      .coluna-esquerda {
        display: block;
      }
    }
  </style>

<LayoutNav title="Download - Commandee">

    <div class="container text-center grid pr-8 pl-8">

        <div style="text-align: left;" class="coluna-esquerda flex justify-center self-center h-2/3">
            <img src="/imagemComidaDonwload.png" alt="ilustração" />
        </div>

        <div class="self-center">
          
           <!-- 😿😿😿😿😿😿😿😿😿😿 -->
            <p class="text-5xl font-bold mb-4">Baixe o</p>
            <p class="text-5xl font-bold mb-4">Commandee</p>
            <p class="text-5xl font-bold mb-4">agora</p>

            <br>

            <button
          class="bg-orange-400 hover:bg-purple-600 text-white font-medium py-2 px-3 rounded-full w-80 text-lg"
          name="btnbaixar">Baixar</button>

            <br><br>

          <span>Version 1.1</span>

         </div>

    </div>

</LayoutNav>
