---
import LayoutNav from "../layouts/LayoutNav.astro";
import MainHome from "../components/MainHome.astro";
import Help from "../components/Help.astro";
import CardInfo from "../components/CardInfo.astro";
---

<LayoutNav title="Commandee">
  <MainHome />
  <section>
    <h1>Nosso Serviço</h1>
    <article>
      <CardInfo title="Agilidade" body="lorem20" alt="ilustracao" />
      <CardInfo title="Simplicidade" body="lorem20" alt="ilustracao" />
      <CardInfo title="Dinamicidade" body="lorem20" alt="ilustracao" />
    </article>
  </section>
  <Help />
</LayoutNav>

<style>
  section {
    background-color: var(--background);
    padding: 2rem;

    flex-wrap: wrap;
  }

  section h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--primary);
    margin-bottom: 2rem;
    font-weight: bolder;
  }

  section article{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media only screen and (max-width: 768px){
    section article{
      flex-direction: column;
    }
  }
</style>
