---
import LayoutNav from "../layouts/LayoutNav.astro";
import MainHome from "../components/MainHome.astro";
//import CardAjuda from "../components/CardAjuda.astro";
//import CardInfo from "../components/CardInfo.astro";
//import CardTime from "../components/CardTime.astro";
//import Titulo from "../components/Titulo.astro";
---

<LayoutNav title="Commandee">
  <MainHome />
  <!-- <main>
    <section>
      <Titulo titulo="Sobre o Commandee" />
      <div>
        <CardInfo
          title="Agilidade"
          body="Algum texto muito legala qui que eu não sei o que colocar então vai ficar assim lalalalal"
          alt="ilustracao"
          imagem="/ilustracao-info-relogio.svg"
        />
        <CardInfo
          title="Simplicidade"
          body="Algum texto muito legala qui que eu não sei o que colocar então vai ficar assim lalalalal"
          alt="ilustracao"
          imagem="/ilustracao-info-garcom.svg"
        />
        <CardInfo
          title="Dinamicidade"
          body="Algum texto muito legala qui que eu não sei o que colocar então vai ficar assim lalalalal"
          alt="ilustracao"
          imagem="/ilustracao-info-celular.svg"
        />
      </div>
    </section>

    <section>
      <Titulo titulo="Nossa Equipe" />
      <div>
        <CardTime imagem="https://avatars.githubusercontent.com/u/99834738?v=4" integrante="Silver" funcao="Frontend Developer" />
        <CardTime imagem="https://avatars.githubusercontent.com/u/102191135?v=4" integrante="Renato" funcao="FrontEnd Developer" />
        <CardTime imagem="https://avatars.githubusercontent.com/u/99834864?v=4" integrante="Memeida" funcao="Backend Developer" />
        <CardTime imagem="https://avatars.githubusercontent.com/u/102124577?v=4" integrante="Anacrai" funcao="Backend Developer" />
      </div>
    </section>

    <section>
      <CardAjuda />
    </section>
  </main>-->
</LayoutNav>

<style>
  main {
    background-color: var(--background);
  }

  section {
    flex-wrap: wrap;
    padding: 1.5rem;
    margin-bottom: 3rem;
  }

  section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media only screen and (max-width: 768px) {
    section {
      margin-bottom: 1rem;
    }

    section div {
      flex-direction: column;
    }
  }
</style>
