---
import LayoutNav from '../layouts/LayoutNav.astro';
---

<LayoutNav title="Commandee"> <!--Título da guia da página -->
	<main>
		 <section>
			<div class="home-container">
				<div class="coluna-esquerda">
					<h1><u>Comman</u>dee</h1>
					<p>Sua comanda digital confiável, rápida e segura.</p>
					<button class="bg-purple-400 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded-full">Conheça</button>
				</div>
				<div class="coluna-direita">
					<img src="/imagemComidaHome1.png" alt="ilustração">
				</div>
			</div>
		 </section>
	</main>
</LayoutNav>

<style>

	main{
		margin: 0;
		padding: 1.5rem;
	}
	img{
		width: 100%;
		height: 100%;
	}

	.home-container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		height: 95vh;
		padding: 0; /* Remove o preenchimento de dentro do container*/
		text-align: center;
	}

	.coluna-esquerda{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 0rem 2rem;
		
	}
	
	.coluna-esquerda h1{
		margin-bottom: 1rem;
		font-size:3rem;
		font-weight: bold;
		color: var(--laranja);
	}

	.coluna-esquerda p {
		margin-bottom: 2rem;
		font-size:1.5rem;
		line-height: 1.5;
		text-align: center;
	}

	.coluna-direita{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0rem 2rem;
	}

	@media screen and (max-width: 768px){
		.home-container{
			grid-template-columns: 1fr;
		}
	}
	
</style>
