---
import LayoutFull from "../layouts/LayoutFull.astro";
import MainSobre from "../components/Sobre.astro";
import CardAjuda from "../components/cards/CardAjuda.astro";
import CardTime from "../components/cards/CardTime.astro";
---

<LayoutFull title="Sobre nós!">
  <h1 class="tituloGradiente">Sobre o Commandee</h1>

  <MainSobre img="/ilustracao-info-garcom.svg" title="O que é o Commandee?">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores ad
      accusamus, vitae, autem iusto error odit cum dignissimos minima aut vel
      praesentium quas. Porro ab et doloribus quo molestiae sapiente fuga alias
      cumque tempora? Odio, ducimus consequatur. Vero vitae asperiores odit
      sapiente. Beatae, odio repellat. Itaque libero cumque ipsa aspernatur.
    </p>
  </MainSobre>

  <MainSobre img="/ilustracao-info-relogio.svg" title="Otimização" reverse>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. At est eveniet
      ab! Nam beatae commodi nobis itaque ex maiores tempora doloribus officia
      eveniet laborum! Labore commodi quo nostrum nam voluptatibus voluptates
      hic deserunt animi laborum illo amet ea at saepe necessitatibus, repellat
      distinctio nemo voluptatem ratione iusto quod temporibus nisi.
    </p>
  </MainSobre>

  <MainSobre img="/ilustracao-info-celular.svg" title="Portabilidade">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
      consectetur atque dignissimos et ipsam cum hic sed magni. Obcaecati enim
      quidem sit. Officiis tempore ducimus ratione praesentium dolor quis
      quibusdam incidunt voluptatum ab, ullam modi laboriosam nisi provident
      suscipit illum consequatur! Quibusdam officiis laudantium natus quidem
      perferendis. Recusandae, totam similique.
    </p>
  </MainSobre>

  <section>
    <h1 class="tituloGradiente">Nosso Time</h1>
  </section>

  <section class="time">
    <CardTime
      imagem="https://avatars.githubusercontent.com/u/99834738?v=4"
      integrante="Silver"
      funcao="Front-end Developer"
    />

    <CardTime
      imagem="https://avatars.githubusercontent.com/u/99834864?v=4"
      integrante="Lara"
      funcao=" Full-stack Developer"
    />
    <CardTime
      imagem="https://avatars.githubusercontent.com/u/102124577?v=4"
      integrante="Nacrai"
      funcao="Full-stack Developer"
    />
    <CardTime
      imagem="https://avatars.githubusercontent.com/u/102191135?v=4"
      integrante="Renato Oliveira"
      funcao="Front-end Developer"
    />
  </section>
  <CardAjuda />
</LayoutFull>

<style>
  :global(main) {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
  }

  .time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 3rem;
    flex-wrap: wrap;
  }

  h1{
    margin: 1rem 0;
  }

  @media only screen and (max-width: 768px) {
    section {
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
