---
export interface Props{
  title: string;
  body: string;
  alt: string;
  imagem: string;
}

const { title, body, alt, imagem} = Astro.props;
---
<article>
  <img src={imagem} alt={alt}>
  <div>
    <h4>{title}</h4>
    <p>{body}</p>
  </div>
</article>

<style>
  article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    margin: 2rem auto;
    border-radius: 10px;
    background-color: var(--background);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }

  article:hover{
    scale: 1.01;
    transition: 0.1s;
  }

  article div{
    padding: 1rem;
    text-align: center;
  }

  section img{
    width: 80%;
    height: 80%;
    border-radius: 10px 10px 0 0;
  }

  article div h4{
    font-size: 1.3rem;
    font-weight: bolder;
    color: var(--textodark);
    margin-bottom: 1rem;
  }

  article div p{
    font-size: 1rem;
    margin: 1rem;
    color: var(--textodark);
  }

  @media only screen and (max-width: 768px){
    article {
      width: 80vw;
    }
  }
</style>
