---
export interface Props {
  imagem: string;
  integrante: string;
  funcao: string;
}

const { imagem, integrante, funcao } = Astro.props;
---

<article>
  <img src={imagem} alt="integrante da equipe" />
  <div>
    <h3>{integrante}</h3>
    <p>{funcao}</p>
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 10px;
    color: var(--textodark);
  }

  article:hover {
    scale: 1.1;
    transition: 0.5s;
    box-shadow: 0 0 10px var(--secondary);
  }

  article img {
    border-radius: 50%;
    width: 40%;
    border: 2px solid var(--primary);
    margin-bottom: 1rem;
  }

  article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 30px;
  }


  article div h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  @media only screen and (max-width: 768px) {
    article {
      width: 80vw;
    }

    article img{
      width: 50%;
    }
  }
</style>
