<main>
  <section>
    <article>
      <form action="">
        <h1>Contate-nos!!</h1>

        <input type="text" placeholder="Enter your name" />
        <input type="email" placeholder="Enter your email" />
        <textarea name="" id="" cols="30" rows="10" placeholder="Spill the tea"></textarea>
        <input type="submit" />
      </form>
    </article>
    <aside>
      <img src="/assets/images/404.svg" alt="ilustração" />
    </aside>
  </section>
</main>

<style>
  body {
    background: var(--background)
      url("data:image/svg+xml,%3Csvg width='615' height='554' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath d='M463.283 528.726c45.144 0 95.716 8.237 151.717 24.712V0H41.584C28.58 76.038-4.694 126.702.957 203.448c16.342 221.959 215.179 325.278 462.326 325.278z' fill='%239592FB'/%3E %3Cpath d='M382.319 485.092c54.57 14.534 187.124 6.139 232.681-13.977V0H122.36c-16.232 41.585 18.088 107.04 18.088 154.372 0 203.855 45.087 278.309 241.87 330.72z' fill='%238B87FA'/%3E %3Cpath d='M443.883 440.71c54.208 0 128.702-54.567 171.117-81.896V0H231.198c-21.166 38.7-14.497 103.867-14.497 151.086 0 150.221 76.96 289.624 227.182 289.624z' fill='%237F7BFB'/%3E %3C/g%3E %3C/svg%3E")
      top right no-repeat fixed;
    box-sizing: border-box;
  }

  main {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section {
    display: flex;
    align-items: center;
    background-color: var(--background);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  section article form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
