<div></div> <!-- Divider bonito -->
<footer>
  <section>
    <a href="https://github.com/dancarinos"><img src="/icon-github.svg" alt=""></a>
    <a href=""><img src="/icon-linkedin.svg" alt=""></a>
    <a href=""><img src="/icon-twitter.svg" alt=""></a>
  </section>

  <ul>
    <li><a href="/sobre">Sobre</a></li>
    <li><a href="/contato">Contato</a></li>
    <li><a href="/download">Download</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/cadastro">Cadastro</a></li>
    <li></li>
  </ul>

  <p>
    © 2023 Commandee Inc.
  </p>

</footer>
<style>

  div {
    aspect-ratio: 900/50;
    width: 100%;
    min-height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("footer-divider.svg");
  }

  footer {
    background-color: var(--primary);
    color: var(--textolight);
    padding: 20px;
    text-align: center;
    bottom: 0;
  }

  section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 1.2rem ;
    height: 100px;
  }


  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    }

  ul a:hover {
    color: var(--textodark);
  }


</style>
