<div>
</div>
<footer>© 2023 Commandee Inc.</footer>
<style>
  body {
    display: flex;
    flex-direction: column;
  }

  div{
    aspect-ratio: 900/50;

    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("footer-divider.svg");
  }

  footer {
    background-color: var(--primary);
    color: var(--textolight);
    margin-top: auto;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }
</style>
