<footer>
  <div class="divider" />

  <div class="content">
    <section>
      <a href="https://github.com/dancarinos"
        ><img src="/icon-github.svg" alt="" />
      </a>
      <a href=""><img src="/icon-linkedin.svg" alt="" /></a>
      <a href=""><img src="/icon-twitter.svg" alt="" /></a>
    </section>

    <ul>
      <li><a href="/contato">Contato</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="/download">Download</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/cadastro">Cadastro</a></li>
      <li></li>
    </ul>

    <p>© 2023 Commandee Inc.</p>
  </div>
</footer>

<style>
  .divider {
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("./footer-divider.svg");
  }

  footer {
    text-align: center;
    color: white;
  }

  .content {
    background-color: #7149c6;
    padding: 1rem 2rem;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100px;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  ul a:hover {
    color: lightgrey;
  }
</style>
