---
---

<footer>
  <section>
    <div>
      <h3 class="font-bold text-3xl">Commandee</h3>
      <ul>
        <li><a href="">Cadastrar</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">Download</a></li>
        <li><a href="">Sobre</a></li>
        <li><a href="/lista">Lista</a></li>
      </ul>
    </div>

    <div>
      <h3 class="font-bold text-3xl">Nossa Equipe</h3>
      <ul>
        <li><a>Contato</a></li>
        <li><a>Sobre nós</a></li>
      </ul>
    </div>

    <div>
      <h3 class="font-bold text-3xl">Mídias Sociais</h3>
      <span>icone twitter</span>
      <span>icone instagram</span>
      <span>icone linkedIn</span>
      <span>icone github</span>
    </div>
    <div>
      <img src="/imagemComidaFooter.png" alt="ilustração" width="400px" />
    </div>
  </section>
  <div>
    <span>© 2023 COMMANDEE INC.</span>
    <span>Termos e Condições</span>
    <span>Política de Privacidade</span>
  </div>
</footer>

<style>
  footer {
    position: relative;
    background-color: var(--branco);
    color: var(--roxo);
    padding: 2rem;

    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
  }

  container {
  }

  h3 {
  }

  footer div {
  }
</style>
