
<footer>
  <section>
    <div>
      <h3>Commandee</h3>
      <ul>
        <li><a href="">Cadastrar</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">Download</a></li>
        <li><a href="">Sobre</a></li>
        <li><a href="/lista">Lista</a></li>
      </ul>
    </div>

    <div>
      <h3>Nossa Equipe</h3>
      <ul>
        <li><a href="">Contato</a></li>
        <li><a href="">Sobre nós</a></li>
      </ul>
    </div>

    <div>
      <h3>Mídias Sociais</h3>
      <div>
        <span>
          <img src="/twitter-icon.svg" alt="Twitter" />
          <img src="/linkedin-icon.svg" alt="LinkedIn" />
          <img src="/github-icon.svg" alt="GitHuh" />
        </span>
      </div>
    </div>

    <div>
      <img src="/imagemComidaFooter.png" alt="ilustração" width="400px" />
    </div>
  </section>

  <div class="column-footer">
    <span>© 2023 COMMANDEE INC.</span>
    <span><a href="">Termos e Condições</a></span>
    <span><a href="">Política de Privacidade</a></span>
  </div>
</footer>

<style>
  footer {
    position: relative;
    background-color: var(--branco);
    color: var(--roxo);
    padding: 3rem;
    margin-top: auto;

    display: grid;
    grid-template-columns: 1fr 1fr minmax() 1fr 1fr;
    grid-template-rows: 1fr auto;
  }

  section div {
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }
  footer h3 {
    font-size: 2rem;
    font-weight: bold;
  }

  section ul {
    list-style: disc;
    padding-left: 2rem;

  }

  footer section {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
  }

  a:hover {
    color: var(--laranja);
    font-weight: bold;
  }

  span {
    display: flex;
    justify-content: start;
  }

  .column-footer {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    footer section {
      display: block;
    }

    footer h3 {
      font-size: 1.2rem;
    }

    section div {
      margin-bottom: 2rem;
      font-size: 1rem;
    }

    div span{
      display: flex;
      justify-content: space-between;
    }

    .column-footer {
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      width: auto;
    }
  }
</style>
