---
import Form from "./Form.astro";
---

<Form action="/api/user/login" method="post" referrer="/">
  <div class="email">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Digite seu email" required />
  </div>

  <div class="password">
    <label for="password">Senha</label>
    <a href="." class="password-reset">Esqueceu a senha?</a>
    <input type="password" name="password" placeholder="Digite sua senha" required />
  </div>

  <div class="submit">
    <div>
      <input type="checkbox" name="remember-me" />
      <label for="remember-me">Manter-me conectado</label>
    </div>
    <button class="button" type="submit"
      ><span class="button-content">Entrar</span></button
    >
  </div>

  <span class="middash">ou</span>

  <a href="." class="login login-google">
    <img src="/logos/google.svg" alt="Logo do Google" />
    <span>Login com o Google</span>
  </a>
  <a href="." class="login login-github">
    <img src="/logos/github.svg" alt="Logo do GitHub" />
    <span>Login com o GitHub</span>
  </a>
  <a href="." class="login login-facebook">
    <img src="/logos/facebook.svg" alt="Logo do Facebook" />
    <span>Login com o Facebook</span>
  </a>

  <span class="cadastro">
    Não tem uma conta? faça a sua <a href="/cadastro">cadastrando-se!</a>
  </span>
</Form>

<style lang="scss">
  @use "../style/utils";

  .middash {
    @extend %middash;
  }

  form {
    width: clamp(20rem, 100%, 30rem);
    display: flex;
    flex-direction: column;

    gap: 1rem;

    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }

  .button {
    background-color: var(--accent) !important;
    height: 2.5rem !important;
    border-radius: 1rem !important;
  }

  .button:hover{
    cursor: pointer;
  }


  label, input {
    display: block;
  }

  label {
    font-weight: bold;
  }

  input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
  }

  .password {
    display: grid;
    grid-template-areas:
      "label label forgot"
      "input input input"
    ;
  }

  .password label {
    grid-area: label;
  }

  .password input {
    grid-area: input;
  }

  .password .password-reset {
    grid-area: forgot;
    justify-self: end;
  }

  a.password-reset {
    font-size: 0.7em;
    color: grey;
  }

  a.password-reset:hover {
    text-decoration: underline;
    color: var(--accent);
  }

  .submit {
    display: grid;
    grid-template-areas:
      "keep-con"
      "input"
    ;
  }

  .submit button {
    grid-area: input;
  }

  .submit div {
    display: flex;
    align-items: center;
    column-gap: 1ch;
    grid-area: keep-con;
    padding-left: 0.5rem;
    margin-bottom: 0.5ch;
  }

  .submit div > * {
    display: inline-block;
  }

  .submit div > label {
    font-size: 0.8em;
    font-weight: normal;
  }

  input {
    border: transparent;
    background-color: var(--secondary);
    padding: 0.5rem 1rem !important;
    border-radius: 1rem;
  }

  input:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--primary);
  }

  a.login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    padding: 0.8rem;
    align-items: center;
    border-radius: 1rem;
  }

  a.login:hover{
    cursor: pointer;
    transform: scale(1.05);
  }

  .login-google {
    color: black;
    background-color: var(--secondary);
  }

  .login-github {
    color: white;
    background-color: var(--textodark);
  }

  .login-facebook {
    color: white;
    background-color: blueviolet;
  }

  a > img {
    place-self: auto;
  }

  a > * {
    grid-area: 1 / 1 / 1 / 1;
    place-self: center;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }

  .cadastro {
    font-size: 0.8rem;
    text-align: center;
  }

  .cadastro a {
    color: var(--accent)
  }

  .cadastro a:hover {
    text-decoration: underline;
    font-weight: bold;
  }
</style>
