---
interface Props extends astroHTML.JSX.FormHTMLAttributes {
  method: "get" | "post";
  action: string;
  referrer: string;
}
---

<form {...Astro.props} data-intercept>
  <slot />
</form>

<script>
  const form = document.querySelector<HTMLFormElement>("form[data-intercept]")!;

  form.addEventListener("submit", async (ev) => {
    ev.preventDefault();

    const response = await fetch(form.action, {
      method: form.method,
      body: new FormData(form)
    });

    if (response.ok) {
      window.location.href = form.getAttribute("referrer") || "/";
    } else {
      const body = await response.text();

      console.error(body);
      alert(body);
    }
  });
</script>
