---
import { Image } from "@astrojs/image/components";
---

<div class="cadastro">
  <h1 class="tituloGradiente">Faça seu cadastro!</h1>

  <form method="post" action="/api/user/signin">
    <div>
      <label for="name">Nome</label>
      <input required placeholder="Joaquim" type="text" name="name" id="name" />
    </div>


    <div>
      <label for="username">Nome de usuário</label>
      <input
        required
        placeholder="joaquim123"
        type="text"
        name="username"
        id="username"
        pattern="[a-zA-Z0-9_-]+"
        min="4"
        max="15"
      />
    </div>

    <div>
      <label for="email">Email</label>
      <input required placeholder="joaquim@email.com" type="email" name="email" id="email" /></div>

    <div>
      <label for="password">Senha</label>
      <input
        required
        placeholder="********"
        type="password"
        name="password"
        id="password"
        min="8"
      />
    </div>

    <button class="button" type="submit">
      <span class="button-content">Cadastrar</span>
    </button>
  </form>

  <div class="imagem">
    <Image
      src="person.svg"
      alt="Imagem de uma pessoa autenticando-se"
      width={300}
      height={300}
      format="svg"
    />
  </div>
</div>

<style>
  .cadastro {
    display: grid;
    place-items: center;
    grid-template-areas:
      "titulo imagem"
      "form   imagem"
      "form   imagem";

    width: clamp(300px, 100%, 800px);
    background-color: var(--branco);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 2rem 2rem;
  }

  form {
    width: clamp(150px, 100%, 350px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    grid-area: form;
  }

  form > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  h1 {
    grid-area: titulo;
  }

  .imagem {
    grid-area: imagem;
  }

  label,
  input {
    width: 100%;
    display: block;
  }

  label {
    font-weight: bold;
  }

  form input {
    padding: 0.5rem;
    background-color: var(--secondary);
    border-radius: 5px;
  }

  form input::placeholder {
    opacity: 1;
    color: #9ca3af;
  }

  button[type="submit"] {
    background-color: var(--accent) !important;
  }
</style>
