<div>
  <article>
    Contato
    <h1>Precisando de Ajuda?</h1>
    <p>Entre em contato com nossa equipe</p>
    <button class="bg-neutral-100 hover:bg-neutral-400 text-black py-2 px-3 rounded-full">Entre em contato</button>
  </article>
</div>
<style>
  div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  article {
    padding: 2rem;
    text-align: center;
    background-color: var(--accent);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 15px;
    color: var(--textolight);
  }

  article h1 {
    color: ;
    font-weight: bolder;
    font-size: 2rem;
  }

  article p {
    font-size: 1rem;
  }

  p a {
    text-decoration: none;
    font-weight: bolder;
  }

  p a:hover {
    color: var(--textodark);
  }
</style>
