<!-- REFAZER E COLOCAR TRANSIÇÕES -->
<section>
  <article>
    <div>
      <h1>Autenticidade</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam recusandae eius suscipit
        reprehenderit nostrum repudiandae molestias, expedita quae natus nobis quod atque velit
        necessitatibus sed! Maiores tenetur facilis ad voluptas natus cupiditate commodi quia
        accusamus aliquam. Beatae error expedita sapiente.
      </p>
    </div>
    <aside>
      <img src="/ilustracao-info-garcom.svg" alt="ilustração garçons" />
    </aside>
  </article>

  <article>
    <aside>
      <img src="" alt="" />
    </aside>
    <div>
      <h1>Confiabilidade</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore odio consectetur aliquid
        aperiam saepe esse ipsum eaque voluptatem architecto consequuntur dolorem illo dicta
        veritatis suscipit dolorum, voluptas, laudantium sunt officiis.
      </p>
    </div>
  </article>

  <article>
    <div>
      <h1>Dinamicidade</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, totam delectus. Earum
        inventore in ratione magnam quae necessitatibus corrupti sed unde temporibus perspiciatis.
        Rerum ratione qui repudiandae eveniet illum dignissimos!
      </p>
    </div>
    <aside>
      <img src="/ilustracao-info-relogio.svg" alt="ilustração relógio">
    </aside>
  </article>
</section>

<style>
  body{
    box-sizing: border-box;
  }


article img {
  width: 50%;
  height: 50%;
}
</style>
