<!-- Colocar transições depois -->
<section>
  <div>
    <h1>Autenticidade</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo consectetur tenetur nisi quod quas maxime in odio nostrum voluptatum voluptas eligendi labore id exercitationem velit natus rem, culpa suscipit distinctio!</p>
  </div>

  <div>
    <h1>Confiabilidade</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore odio consectetur aliquid aperiam saepe esse ipsum eaque voluptatem architecto consequuntur dolorem illo dicta veritatis suscipit dolorum, voluptas, laudantium sunt officiis.</p>
  </div>
  <div>
    <h1>Dinamicidade</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, totam delectus. Earum inventore in ratione magnam quae necessitatibus corrupti sed unde temporibus perspiciatis. Rerum ratione qui repudiandae eveniet illum dignissimos!</p>
  </div>
</section>

<style>
  section {
    padding: 10px;
    background-color: var(--lilas);
    color: var(--branco);
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

    section	h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    section div {
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
    }

  @media screen and (max-width: 768px) {
    section {
      flex-direction: column;
    }
  }
</style>
