<nav>
    <div class="logo-nav"><a href="/">Logo</a></div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">Download</a></li>
        <li><a href="/lista">Lista</a></li>
        <li><a href="">Sobre</a></li>
        <li><a href="">Login</a></li>
    </ul>
    
            <button class="bg-purple-400 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded-full">Cadastro</button>
</nav>
    <style>
        nav {
            height: 50px;
            background-color: var(--branco);
            color: var(--roxo);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }

        .logo-nav {
            color: var(--lilas);
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
        }

        nav ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
        }

        nav li {
            margin: 0 1rem;
            position: relative;
        }

        nav li::before {
            content: "";
            display: block;
            height: 3px;
            background-color: var(--lilas);

            position: absolute;
            bottom: -13px;
            width: 0%;

            transition: all ease-in-out 200ms;
        }

        nav li:hover::before {
            width: 100%;
        }

        a {

            color: var(--branco);
            text-decoration: none;
            text-transform: uppercase;
        }

    </style>

