
<nav>
  <div class="logo-nav"><a href="/">Commandee</a></div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/sobre">Sobre</a></li>
    <li><a href="/lista">Lista</a></li>
    <li><a href="/contato">Contato</a></li>
    <li><a href="/download">Download</a></li>
    <li><a href="/profile">Perfil</a></li> <!-- lembrar de apagar depois -->
  </ul>

  <!-- sessão de login e cadastro da navbar-->
  <ul>
    <li><a href="/login">Login</a></li>
    <button class="bg-rose-500 hover:bg-rose-700 text-white font-medium py-2 px-3 rounded-full">Cadastre-se</button>
  </ul>

  <div class="menu-hamburguer">
    <div class="hamburguer"></div>
  </div>
</nav>

<style>
  nav {
    position: sticky;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 1;

  }

  .logo-nav {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    flex-grow: 1;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

  nav li {
    position: relative;
    margin: 0 1rem;
  }

  nav li::before {
    content: "";
    display: block;
    height: 3px;
    background-color: var(--accent);

    position: absolute;
    bottom: -13px;
    width: 0%;

    transition: all ease-in-out 200ms;
  }

  nav li:hover::before {
    width: 100%;
    color: var(--accent) !important;
  }

  a {
    text-decoration: none;
  }

  @media (max-width: 768px) {
    nav {
      position: relative;
    }

    button {
      display: none;
    }

    .logo-nav {
      font-size: 1.2rem;
    }
    nav ul {
      display: none;
    }
    nav li {
      display: block;
      margin: 1rem 0;
    }

  }
</style>
