---
import { getAuthSafe } from "../server/auth/cookies";
import SideBarButton from "./sidebar/SideBarButton.astro";
import ProfileChip from "./profile_view/ProfileChip.astro";

const auth = getAuthSafe(Astro.cookies);

console.log(Astro.cookies);
---

<nav>
  <a href="/" class="logo-nav">Commandee</a>
  <ul>
    <!--<li><a href="/lista">Lista</a></li>-->
    <li><a href="/">Home</a></li>
    <li><a href="/sobre">Sobre</a></li>
    <li><a href="/contato">Contato</a></li>
    <li><a href="/download">Download</a></li>
    <!-- lembrar de apagar depois -->

    {
      auth ? (
        <ProfileChip />
        ) : (
          <>
          <li><a href="/login">Login</a></li>
          <a role="button" href="/cadastro" class="button">
            <span class="button-content">Cadastre-se</span>
          </a>
        </>
      )
    }
  </ul>
  <SideBarButton class="icone-menu" />
</nav>

<style>
  nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    backdrop-filter: blur(8px);
    z-index: 1;
  }

  nav a {
    text-decoration: none;
  }

  .logo-nav {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }

  .icone-menu {
    display: none;
    justify-self: flex-end;
  }

  .cadastro {
    transition: all 2s;
  }

  .cadastro:hover {
    background-color: var(--primary);
  }

  .button {
    height: 2.5rem !important;
    padding: 0 1rem !important;
  }

  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  nav li {
    color: var(--roxo);
    position: relative;
    margin: 0 1rem;
  }

  nav li::before {
    content: "";
    display: block;
    height: 3px;
    background-color: var(--accent);

    position: absolute;
    bottom: -13px;
    width: 0%;

    transition: all ease-in-out 200ms;
  }

  nav li:hover::before {
    width: 100%;
    color: var(--accent) !important;
  }

  @media (max-width: 768px) {
    nav {
      position: relative;
    }

    .logo-nav {
      font-size: 1.2rem;
    }

    .icone-menu {
      display: block;
    }
    nav ul {
      display: none;
    }
    nav li {
      display: block;
      margin: 1rem 0;
    }
  }
</style>
