---
interface Props {
  id?: string;
  class?: string;
}
---

<button class="side-menu" {...Astro.props}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    class="bi bi-list"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
    ></path>
  </svg>
</button>

<aside class="side-menu">
  <h3 class="tituloGradiente"><a href="/">Commandee</a></h3>
  <hr />

  <nav>
    <ul>
      <li><a href="/contato"><img src="envelope.svg" alt="" />Contato</a></li>
      <li><a href="/sobre"><img src="info-circle.svg" alt="" /> Sobre</a></li>
      <li>
        <a href="/download">
          <img src="file-arrow-down.svg" alt="" /> Download</a>
      </li>
      <li><a href="/profile"> <img src="person.svg" alt="" /> Perfil</a></li>
      <li><a href="/contato"><img src="envelope.svg" alt="" />Contato</a></li>
      <li><a href="/sobre"><img src="info-circle.svg" alt="" /> Sobre</a></li>
      <li>
        <a href="/download">
          <img src="file-arrow-down.svg" alt="" /> Download</a
        >
      </li>
      <li><a href="/profile"> <img src="person.svg" alt="" /> Perfil</a></li>
    </ul>
  </nav>

  <span class="login"><a href="/login">Login</a></span>
</aside>

<div class="backdrop"></div>

<style>
  aside {
    width: 50dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);

    transition: all 1s ease-in-out;
  }

  .backdrop {
    width: 100dvw;
    height: 100dvh;
    background-color: transparent;
    backdrop-filter: blur(2.5px);
  }

  h3 {
    margin: 0.8rem 0.5rem !important;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  li {
    color: var(--textodark);
    font-weight: 500;
    padding: 0.7rem 0.5rem;
    margin: 5px;
    border-radius: 10px;
    transition: all 0.2s;
  }

  li:first-of-type {
    margin-top: 15px;
  }

  li:hover {
    color: var(--primary);
    background-color: var(--secondary);
  }

  li a {
    display: flex;
    align-items: center;
  }

  li img {
    width: 1.2rem;
    margin-right: 0.5rem;
    color: var(--textodark);
  }

  .login {
    margin-top: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    height: 4rem;
    color: var(--textolight);
    background: var(--gradient);
  }

  button svg {
    aspect-ratio: 1 / 1;
    width: 1.5rem;
    color: var(--textodark);
  }

  span {
    text-align: center;
    height: 4rem;
    color: var(--textodark);
    background-color: var(--accent);
  }
</style>

{/* Style OBRIGATÓRIA da SideBar. Sem isso aqui não funciona.
  * Para alterar a estilização, use a outra tag <style>
  */}
<style>
  aside {
    position: fixed;
    top: 0;
    left: 0;
  }

  aside:not(.open) {
    transform: translateX(-100%);
    visibility: hidden;
  }

  aside.open {
    transform: translateX(0);
    visibility: visible;
    z-index: 2;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
  }

  aside:not(.open) ~ .backdrop {
    visibility: hidden;
  }

  aside.open ~ .backdrop {
    visibility: visible;
    z-index: 1;
  }

  @supports selector(:has) {
    :global(body:has(aside.open)) {
      overflow-y: hidden;
    }
  }
</style>

<script>
  const aside = document.querySelector<HTMLElement>("aside.side-menu")!;
  const button = document.querySelector<HTMLElement>("button.side-menu")!;
  const backdrop = document.querySelector<HTMLElement>("div.backdrop")!;

  const openMenu = CSS.supports("selector(:has(*))")
    ? function () {
        aside.classList.add("open");
        document.body.addEventListener("keydown", escClose);
      }
    : function () {
        aside.classList.add("open");
        document.body.addEventListener("keydown", escClose);
        document.body.style.overflowY = "hidden";
      };

  const closeMenu = CSS.supports("selector(:has(*))")
    ? function () {
        aside.classList.remove("open");
        document.body.removeEventListener("keydown", escClose);
      }
    : function () {
        aside.classList.remove("open");
        document.body.removeEventListener("keydown", escClose);
        document.body.style.overflowY = "";
      };

  function escClose(event: KeyboardEvent) {
    if (event.key === "Escape") closeMenu();
  }

  button.addEventListener("click", openMenu);
  backdrop.addEventListener("click", closeMenu);
</script>
