---
import Logo from "../Logo.astro";
---

<nav>
  <Logo format="text" />
  <ul>
    <li>Pedidos</li>
  </ul>
</nav>

<style>
  nav {
    height: 3rem;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: flex;
    list-style: none;
    color: var(--accent);
    font-weight: bold;
    font-size: 1rem;
    align-items: center;
    flex-grow: 1;
  }

  nav li {
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  @media screen and (max-width: 768px) {
    ul li {
      display: none;
    }
  }
</style>
