---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <!--Biblioteca de icones -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    min-height: 100vh;
  }
</style>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,500;0,700;0,900;1,200;1,400;1,700;1,900&family=Quicksand:wght@300;400;500;700&display=swap");

  * {
    margin: 0;
    padding: 0;
    inset: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
  }

  :root {
    --textodark: #0b2028;
    --textolight: #f3f9fc;
    --background: #ffffff;
    --primary: #7149c6;
    --secondary: #e3dbf5;
    --accent: #fc2947;

    --textoGrande: 2.5rem;
    --textoTitulo: 1.75rem;
    --texto: 1.1rem;

    --gradient: -webkit-linear-gradient(left, var(--primary), var(--accent));
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: var(--background);
    scroll-behavior: smooth;
  }

  body {
    height: 100vh;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .tituloGradiente {
    font-size: var(--textoTitulo);
    font-weight: 700;
    width: fit-content;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1.tituloGradiente {
    font-size: var(--textoGrande);
  }
</style>
